.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
}

.loader {
  width: 2rem;
  height: 2rem;
  animation: spin 0.8s infinite steps(12, end);
  opacity: 0.7;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

