.profileButton {
  border-radius: 100%;
  padding: 1px;
  border: 1px solid transparent;
}

.profileButton.active {
  border-color: black;
}

.menu {
  position: absolute;
  top: 100%;
  margin-top: 0.4rem;
  right: 0;
  background: #fff;
  border-radius: 0.3rem;
  width: 12rem;
}

.menuButton {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 0.9rem;
  padding: 0.7rem;
}

.menuButton svg {
  height: 1rem;
  width: 1rem;
}

.logoutButton {
  border-top: 1px solid var(--border-color);
  margin-top: 0.1rem;
}