.profileInfo {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem 1.5rem;
  padding: 0 1rem 2rem 1rem;
  border-bottom: 1px solid rgb(var(--border-color));
  align-items: center;
}

.image {
  width: 5rem;
  height: 5rem;
}

.mainInfo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.username {
  width: 100%;
  margin-bottom: 0.5rem;
  font-weight: 300;
  font-size: 1.8rem;
  word-break: break-all;
}

.displayNameBio {
  grid-column: 1/3;
}

.bio {
  margin: 0;
  white-space: pre;
}

.userInfoCount {
  grid-column: 1/3;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.infoNumber {
  font-weight: 500;
  width: 100%;
  display: block;
}

.displayName {
  font-weight: 500;
  margin: 0;
}

.posts {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
}

.post {
  aspect-ratio: 1/1;
  cursor: pointer;
}

.postImage {
  width: 100%;
  height: 100%;
  position: relative;
}

.postImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.postInfo {
  top: 0;
  left: 0;
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 2rem;
}

.postInfo svg {
  height: 1.4rem;
  width: 1.4rem;
  fill: white;
}

.postInfo li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media (min-width: 768px) {
  .profileInfo {
    grid-template-columns: 2fr 4fr;
    gap: 1rem;
  }

  .image {
    grid-row: 1/4;
    width: 9rem;
    height: 9rem;
    justify-self: center;
  }

  .mainInfo {
    flex-wrap: nowrap;
  }

  .username {
    width: auto;
    margin-bottom: 0;
    margin-right: 2rem;
  }

  .displayNameBio {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .userInfoCount {
    grid-column: 2;
    grid-row: 2/3;
    width: max-content;
    gap: 2rem;
  }

  .infoNumber {
    display: inline;
  }
  
  .posts {
    gap: 1.8rem;
  }

  .post:hover .postInfo {
    display: flex;
  }
}


svg.loader {
  height: 2.2rem;
  width: 2.2rem;
  border-color: rgba(0, 0, 0, 0.15);
  border-width: 0.24rem;
  border-left-color: gray;
  margin-top: 1rem;
}

.skeleton .image {
  background: rgb(var(--skeleton-color));
  width: 144px;
  height: 144px;
  border-radius: 100%;
}

.skeleton .mainInfo {
  display: flex;
  align-items: center;
  column-gap: 32px;
  row-gap: 16px;
}

.skeletonName {
  background: rgb(var(--skeleton-color));
  width: 100%;
  max-width: 200px;
  height: 20px;
}

.skeletonFollowBtn {
  background: rgb(var(--skeleton-color));
  width: 68px;
  height: 32px;
  border-radius: 4px;
}

.skeleton .displayNameBio {
  background: rgb(var(--skeleton-color));
  height: 20px;
  max-width: 160px;
}

.skeleton .userInfoCount div {
  background: rgb(var(--skeleton-color));
  height: 20px;
  width: 76px;
}

.goBackLink {
  color: rgb(0, 55, 107);
}