.modal {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 1200px;
}

.modal > :first-child {
  border: 0;
  border-radius: 0.3rem;
}

@media (min-width: 768px) {
  .modal {
    width: 90%;
  }
  .modal > :first-child {
    height: 100%;
  }
}
