.modal {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 1200px;
}

article.postContainer {
  border: 0;
  border-radius: 0.3rem;
}

section.comments {
  height: auto;
}

div.postContainer {
  background: white;
  border-radius: 0.3rem;
}

@media (min-width: 768px) {
  .modal {
    width: 90%;
  }

  article.postContainer {
    height: 100%;
  }
}

@media (max-width: 768px) {
  :is(.comments, .commentForm) {
    display: none;
  }

  article.postContainer {
    padding-bottom: 1rem;
  }
}

:global(.appear) .modal {
  transform: scale(1.1);
  opacity: 0;
}

:global(.appear-active) .modal {
  transform: scale(1);
  opacity: 1;
  transition: all 150ms ease-in-out;
}