.modal {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 1200px;
}

.postContainer {
  border: 0;
  border-radius: 0.3rem;
}

@media (min-width: 768px) {
  .modal {
    width: 90%;
  }

  .postContainer {
    height: 100%;
  }
}

@media (max-width: 768px) {
  :is(.comments, .commentForm) {
    display: none;
  }

  .postContainer {
    padding-bottom: 1rem;
  }
}
