.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
  max-width: var(--main-max-width);
  margin: 0 auto;
  width: 100%;
  padding-top: 1.2rem;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .main {
    padding: 1.2rem 1rem;
  }
}
