.textarea {
  outline: 0;
  padding: 0.4rem 0.5rem;
  border: 1px solid rgb(var(--border-color));
  border-radius: 3px;
  font-size: 1rem;
}

.textarea::placeholder {
  color: rgb(var(--light-text-color));
}

.textarea:focus {
  border-color: rgb(var(--light-text-color));
}

.textarea:disabled {
  color: rgb(var(--light-text-color));
  border-color: rgb(var(--border-color), 0.8);
}
