
.loadMoreBtn {
  margin: 0 auto;
  background: 0;
  border: 0;
  outline: 0;
  padding: 0;
  cursor: pointer;
  width: 1.5rem;
  color: var(--primary-icon-color);
}

.commentLoader {
  width: 1.8rem;
  height: 1.8rem;
}