.container {
  background: #fff;
  border-radius: 0.1rem;
  display: flex;
  flex-direction: column;
}

/* Header */
.header {
  padding: 0.85rem var(--post-horizontal-padding);
  grid-area: header;
}

.fullPost .header {
  margin-bottom: 0.5rem;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.userName {
  font-size: 0.9rem;
  font-weight: 600;
}

div.userImage {
  width: 2rem;
  height: 2rem;
}

/* Image */
.imageContainer {
  width: 100%;
  grid-area: image;
  background: black;
  display: flex;
}

.image {
  max-height: 100%;
  width: 100%;
  display: block;
  object-fit: contain;
}

/* Actions */
.actions {
  padding: 0.5rem var(--post-horizontal-padding);
  display: flex;
  grid-area: actions;
}

.action {
  background: 0;
  display: flex;
  align-items: center;
  border: 0;
  cursor: pointer;
  padding: 0.5rem;
  color: var(--primary-icon-color);
}

.actions > :first-child {
  margin-left: calc(var(--post-horizontal-padding) / 2 * -1);
}

.action svg {
  height: 1.5rem;
  width: 1.5rem;
}

.action:hover:not(.liked) svg {
  opacity: 0.5;
}

.action.liked {
  color: #ed4956;
}

/* Likes */
.likesSection {
  padding: 0 var(--post-horizontal-padding);
  grid-area: likes;
}

.likes {
  background: 0;
  border: 0;
  padding: 0;
  font-weight: 600;
  font-size: 0.9rem;
  cursor: pointer;
}

/* Comments */
.comments {
  display: flex;
  padding: 0 var(--post-horizontal-padding);
  margin: 0.4rem 0;
  grid-area: comments;
  flex-direction: column;
  overflow: auto;
  flex: 1;
}

.fullPost .comments {
  gap: 1.5rem;
}

.comment {
  display: flex;
  gap: 0.8rem;
}

.commentAvatar {
  height: 2rem;
  width: 2rem;
  flex-shrink: 0;
}

.commentInfo {
  margin-top: 0.4rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: rgb(var(--light-text-color));
}

.commentDate {
  font-size: 0.76rem;
}

.commentLikes {
  font-size: 0.8rem;
  font-weight: 500;
}

.commentLikeBtn {
  height: 0.75rem;
  width: 0.75rem;
  padding: 0;
  align-self: center;
  margin-left: auto;
}
/* Text */
.text {
  font-size: 0.9rem;
  white-space: pre-line;
  margin: 0;
  width: 100%;
}

.author {
  font-weight: 600;
}

.author:hover {
  text-decoration: underline;
}

.more {
  font-size: 0.9rem;
  color: rgb(var(--light-text-color));
}

/* Date section */
.dateSection {
  padding: 0 var(--post-horizontal-padding);
  grid-area: date;
}

/* Date */
.date {
  font-size: 0.65rem;
  color: rgb(var(--light-text-color));
}

/* Comment section */
.commentForm {
  padding: 1rem var(--post-horizontal-padding);
  margin-top: 0.8rem;
  display: flex;
  align-items: center;
  grid-area: comment-form;
}

/* View all comments button */
.viewAllCommentsBtn {
  background: 0;
  border: 0;
  outline: 0;
  color: rgb(var(--light-text-color));
  cursor: pointer;
  font-size: 0.9rem;
  padding: 0;
  text-align: left;
}

.viewAllCommentsBtn:active {
  opacity: 0.6;
}

.loadMoreBtn {
  margin: 0 auto;
  background: 0;
  border: 0;
  outline: 0;
  padding: 0;
  cursor: pointer;
  width: 1.5rem;
  color: var(--primary-icon-color);
}

@media (min-width: 768px) {
  .container {
    border: 1px solid rgb(var(--border-color));
  }

  .fullPost {
    display: grid;
    grid-template-columns: minmax(min-content, max-content) minmax(350px, auto);
    grid-template-rows: auto 10fr repeat(4, auto);
    grid-template-areas:
      'image header'
      'image comments'
      'image actions'
      'image likes'
      'image date'
      'image comment-form';
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .fullPost :is(.comments, .commentForm) {
    display: none;
  }
  .fullPost.container {
    padding-bottom: 1rem;
  }
}

.likesModal {
  max-width: 400px;
  height: 400px;
  width: 90%;
}

.likesModalBody {
  padding: 0;
  overflow: auto;
}

.likesModalList {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.likesModalUser {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 0.4rem 0.8rem;
}

.likesModalImg {
  width: 3rem;
  height: 3rem;
}

.likesModalText{
  display: block;
  font-size: 0.9rem;
}

.likesModalUsername{
  font-weight: 500;
}

.likesModalUsername:hover {
  text-decoration: underline;
}

.likesModalDisplayName {
  color: rgb(var(--light-text-color));
}