.container {
  background: #fff;
  border-radius: 0.1rem;
  display: flex;
  flex-direction: column;
}

.fullPost.container {
  flex: 1;
}

.fullPost .commentsWrapper {
  flex: 1;
  min-height: 200px;
}

/* Header */
.header {
  padding: 0.85rem var(--post-horizontal-padding);
  grid-area: header;
  display: flex;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.userName {
  font-size: 0.9rem;
  font-weight: 600;
}

.userImage {
  width: 2rem;
  height: 2rem;
}

/* Image */
.imageContainer {
  grid-area: image;
  background: black;
  position: relative;
}

.image {
  display: block;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.fullPost .image {
  height: 100%;
}

/* Actions */
.actions {
  padding: 0.5rem var(--post-horizontal-padding);
  display: flex;
  grid-area: actions;
}

.action {
  background: 0;
  display: flex;
  align-items: center;
  border: 0;
  cursor: pointer;
  padding: 0.5rem;
  color: var(--primary-icon-color);
}

.actions> :first-child {
  margin-left: calc(var(--post-horizontal-padding) / 2 * -1);
}

.action svg {
  height: 1.5rem;
  width: 1.5rem;
}

.action:hover {
  opacity: 0.5;
}

/* Likes */
.likesSection {
  padding: 0 var(--post-horizontal-padding);
  grid-area: likes;
}

.likes {
  background: 0;
  border: 0;
  padding: 0;
  font-weight: 600;
  font-size: 0.9rem;
  cursor: pointer;
}

/* Comments */
.comments {
  display: flex;
  padding: 0 var(--post-horizontal-padding);
  margin: 0.4rem 0;
  grid-area: comments;
  flex-direction: column;
}

.fullPost .commentsWrapper {
  display: flex;
  overflow-y: auto;
  flex-direction: column;
}

.fullPost .comments {
  gap: 1.5rem;
  margin: 0.8rem 0;
  flex: 1 1 1px;
  min-height: 0;
}


/* Date section */
.dateSection {
  padding: 0 var(--post-horizontal-padding);
  grid-area: date;
}

/* Date */
.date {
  font-size: 0.65rem;
  color: rgb(var(--light-text-color));
}

/* View all comments button */
.viewAllCommentsBtn {
  background: 0;
  border: 0;
  outline: 0;
  color: rgb(var(--light-text-color));
  cursor: pointer;
  font-size: 0.9rem;
  padding: 0;
  text-align: left;
  margin-top: 0.4rem;
}

.viewAllCommentsBtn:active {
  opacity: 0.6;
}

@media (min-width: 768px) {
  .container {
    border: 1px solid rgb(var(--border-color));
  }

  .fullPost {
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-rows: auto 10fr repeat(4, auto);
    grid-template-areas:
      'image header'
      'image comments'
      'image actions'
      'image likes'
      'image date'
      'image comment-form';
    max-width: 100%;
  }

  .fullPost .commentsWrapper {
    min-height: 0;
  }
}

.likesModal {
  max-width: 400px;
  height: 400px;
  width: 90%;
}

.likesModalBody {
  padding: 0;
  overflow: auto;
}

.likesModalList {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.likesModalUser {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 0.4rem 0.8rem;
}

.likesModalImg {
  width: 3rem;
  height: 3rem;
}

.likesModalText {
  display: block;
  font-size: 0.9rem;
}

.likesModalUsername {
  font-weight: 500;
}

.likesModalUsername:hover {
  text-decoration: underline;
}

.likesModalDisplayName {
  color: rgb(var(--light-text-color));
}

.imageLikeHeart {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  height: 6rem;
  width: 6rem;
  color: white;
  opacity: 0;
}

.imageLikeHeart.show {
  animation: imageLikeHeartAnim 1s ease-in-out;
}

@keyframes imageLikeHeartAnim {
  0% {
    opacity: 0;
    scale: 0;
  }

  15% {
    opacity: 0.7;
    scale: 1.2;
  }

  45%,
  80% {
    opacity: 0.7;
    scale: 1;
  }

  100% {
    opacity: 0;
    scale: 0;
  }
}

.userImageLink {
  line-height: 0;
}

.skeletonImage {
  width: 100%;
  aspect-ratio: 1/1;
  background: rgb(var(--skeleton-color));
  border-radius: 0.3rem;
}

.skeletonHeader {
  display: flex;
  padding: 1rem 0.2rem;
}

.skeletonProfileImage {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background: rgb(var(--skeleton-color));
}

.skeletonHeaderText div {
  height: 12px;
  background: rgb(var(--skeleton-color));
  margin-left: 1rem;
}

.skeletonHeaderText :nth-child(1) {
  width: 140px;
}

.skeletonHeaderText :nth-child(2) {
  width: 100px;
  margin-top: 5px;
}

.skeletonFullPost {
  width: 100%;
}

:global(.in-modal) .skeletonHeader {
  padding-left: 1rem;
}

@media (min-width: 768px) {
  .skeletonFullPost {
    display: grid;
    grid-template-columns: 1fr 400px;
  }

  .skeletonFullPost .skeletonContent {
    order: 2;
    display: flex;
    flex-direction: column;
  }

  .skeletonFullPost .skeletonHeader {
    padding: 1.2rem 1.2rem;
    border-bottom: 1px solid rgb(var(--skeleton-color));
  }

  .skeletonFullPost .skeletonImage {
    border-radius: 0.3rem 0 0 0.3rem;
  }

  .skeletonFullPost .skeletonFullPostExtra {
    margin-top: auto;
    border-top: 1px solid rgb(var(--skeleton-color));
    padding: 1.4rem 1.2rem;
    padding-bottom: 2.5rem;
  }

  .skeletonFullPost .skeletonFullPostExtra div {
    height: 12px;
    background: rgb(var(--skeleton-color));
  }

  .skeletonFullPost .skeletonFullPostExtra div:nth-child(1) {
    width: 120px;
  }

  .skeletonFullPost .skeletonFullPostExtra div:nth-child(2) {
    width: 200px;
    margin: 10px 0;
  }

  .skeletonFullPost .skeletonFullPostExtra div:nth-child(3) {
    width: 80px;
  }
}
  
.optionsBtn {
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  padding: 0;
  font-size: 0.8rem;
  color: rgb(var(--primary-icon-color));
  display: flex;
  margin-left: auto;
  align-self: center;;
  transition: color 0.2s;
}

.optionsBtn:hover  {
  color: rgb(var(--light-text-color));
}


.optionsModalContent {
  max-width: 400px;
  width: 90%;
}

.optionsList {
  padding: 0;
  margin: 0;
}

.optionsList li:not(:last-child) {
  border-bottom: 1px solid rgb(var(--border-color));
}

.optionsList li button {
  width: 100%;
  padding: 14px 0;
  background: white;
  border: 0;
  cursor: pointer;
  color: black;
}

.optionsList li button:not(:disabled):active {
  background: rgb(var(--skeleton-color));
}

li.optionsListItemDanger button {
  color: red;
  font-weight: 600;
  font-size: 14px;
}

.optionsList li button:disabled {
  color: rgb(var(--light-text-color));
  cursor: default;
}