.modal {
  width: 70%;
  max-width: 700px;
}

.body {
  padding: 0;
  min-height: 0;
  aspect-ratio: 1/1;
  width: 100%;
}

.nextButton {
  align-self: flex-end;
}

.upload {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.uploadText {
  font-weight: 300;
  margin: 0.7rem 0 1.4rem 0;
}

.form {
  width: 100%;
  padding: 0.8rem 0;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.captionTextarea {
  font-size: 1rem;
}

.imageWrapper {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
}

.image {
  object-fit: contain;
  width: 100%;
}

/* Crop Tools */
.cropTools {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  width: 100%;
  display: flex;
  gap: 0.8rem;
}

:is(.toolsButton, .discardBtn, .aspectRatioMenu button) {
  border: 0;
  outline: 0;
  cursor: pointer;
}

:is(.toolsButton, .discardBtn, .zoomTool, .aspectRatioMenu) {
  background: rgba(0, 0, 0, 0.6);
  color: white;
  transition: opacity 0.3s;
  backdrop-filter: blur(4px);
}

.toolsButton {
  border-radius: 999px;
  padding: 0.5rem;
  display: flex;
}

.toolsButton.active {
  background: #fff;
  color: black;
}

.toolsButton svg {
  width: 1rem;
}

.discardBtn {
  padding: 0.2rem 0.7rem;
  border-radius: 0.6rem;
  font-weight: 500;
  cursor: pointer;
  font-size: 0.8rem;
  margin-left: auto;
}

:is(.toolsButton, .discardBtn):hover {
  opacity: 0.7;
}

.aspectRatioToolWrapper {
  position: relative;
}

.aspectRatioMenu {
  position: absolute;
  margin: 0;
  border-radius: 0.6rem;
  padding: 0;
  bottom: 140%;
  list-style: none;
}

.aspectRatioMenu li {
  color: white;
}

.aspectRatioMenu li:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.aspectRatioMenu button {
  background: 0;
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
  font-size: 0.9rem;
  padding: 0;
  padding: 0.7rem 0.8rem;
}

.aspectRatioMenu svg {
  width: 1.5rem;
}

.aspectRatioMenu .selected {
  color: #fff;
}

.zoomToolWrapper {
  position: relative;
}

.zoomTool {
  border-radius: 0.6rem;
  padding: 0.5rem;
  position: absolute;
  bottom: 140%;
}

.uploading {
  height: 100%;
  width: 100%;
  position: absolute;
  backdrop-filter: blur(4px);
  background: rgba(0, 0, 0, 0.3);
  display: flex;
}

.error {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.errorText {
  font-size: 1.5rem;
  font-weight: 300;
}

:is(.mediaIcon, .errorIcon) {
  width: 6rem;
  color: var(--primary-icon-color);
}
