.content {
  display: flex;
  gap: 2rem;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: 3;
}

.aside {
  position: sticky;
  flex: 1;
  top: calc(3.6rem + 1.5rem);
  height: 100%;
}

.userCard {
  display: flex;
  gap: 1.3rem;
  align-items: center;
  margin-bottom: 1.5rem;
}

.profileImage {
  height: 3rem;
  width: 3rem;
}

.username {
  font-weight: 500;
}

.displayName {
  display: block;
  color: rgb(var(--light-text-color));
  font-size: 0.9rem;
}

.suggestedUsers {
}
